@model int 
@{
    ViewData["Title"] = "OrderConfirmation";
    Layout = "~/Views/Shared/_Customer.cshtml";
}

<header class="bg-dark py-0">
    <div class="container px-4 px-lg-5 my-1">
        <div class="text-center text-white pt-3 pb-3">
            <h1 class="display-4 fw-bolder">Order Confirmation</h1>
        </div>
    </div>
</header>

<center class="Container ">
    <div class="row d-flex align-items-center justify-content-center" style="height:74vh">
            <h1>Your order Number @Model Has Been Successfully Pleased</h1>
        </div>
</center>